<div class="row">
  <div class="column column-10">
    <button class="button button-clear">Effects:</button>
  </div>
  <div class="column column-90">
    <button phx-click="previous_effect">← previous</button>
    <button phx-click="next_effect">next →</button>
  </div>
</div>

<div class="row">
  <div class="column column-10">
    <button class="button button-clear">Layouts:</button>
  </div>
  <div class="column column-90">
    <button phx-click="set_layout" phx-value-layout="xebow">Xebow</button>
    <button phx-click="set_layout" phx-value-layout="tkl">TKL</button>
    <button phx-click="set_layout" phx-value-layout="full">Full</button>
  </div>
</div>

<div class="row">
  <div class="column column-10">
    <button class="button button-clear">Speed:</button>
  </div>
  <div class="column column-90">
    <button phx-click="decrease" phx-value-property="speed">-</button>
    <button phx-click="increase" phx-value-property="speed">+</button>
  </div>
</div>

<div class="row">
  <div class="column column-10">
    <button class="button button-clear">Width:</button>
  </div>
  <div class="column column-90">
    <button phx-click="decrease" phx-value-property="width">-</button>
    <button phx-click="increase" phx-value-property="width">+</button>
  </div>
</div>

<hr>

<div class="screen">
  <%= for led <- @leds do %>
    <span
      class="key"
      phx-click="key_pressed"
      phx-value-key-id="<%= led.id %>"
      style="
        left: <%= led.x %>px;
        top: <%= led.y %>px;
        width: <%= led.width %>px;
        height: <%= led.height %>px;
        background-color: <%= led.color %>
      "
    ></span>
  <% end %>
</div>
