<div>
  <button phx-click="previous_animation">← previous</button>
  <button phx-click="next_animation">next →</button>
  <button phx-click="set_xebow">Xebow</button>
  <button phx-click="set_tkl">TKL</button>
  <button phx-click="set_full">Full</button>
</div>

<div class='screen'>
  <%= for pixel <- @pixels do %>
    <span
      class='key'
      style='
        left: <%= pixel.x %>px;
        top: <%= pixel.y %>px;
        width: <%= pixel.width %>px;
        height: <%= pixel.height %>px;
        background-color: <%= pixel.color %>
      '
    ></span>
  <% end %>
</div>


